.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: #fff;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.search {
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    input {
        flex: 1;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 22px;
        background: transparent;
        caret-color: var(--primary-color);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    .search-border {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 1.5px solid rgba(22, 24, 35, 0.2);
        border-radius: 92px;
        z-index: -1;
    }
    input:focus ~ .search-border {
        display: block;
    }
}

.search,
.search-results {
    width: 361px;
}

.clear {
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.spinner {
    display: none;
    position: absolute;
    right: 52px;
    margin: 0 12px;
}

.search-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 11px 16px 11px 12px;
    margin: -12px -16px -12px 0;
    cursor: pointer;
    color: rgba(22, 24, 35, 0.2);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        height: 28px;
        background: rgba(22, 24, 35, 0.12);
    }
}

.search-results {
    margin-top: -3px;
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.actions {
    display: flex;
    align-items: center;

    .message {
        margin-left: 16px;
        padding: 3px 3px 0;
        cursor: pointer;
    }

    .inbox {
        margin-left: 16px;
        cursor: pointer;
    }

    .avatar {
        width: 32px;
        height: 32px;
        margin-left: 24px;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
    }
}

.help-menu {
    margin-left: 16px;
    padding: 0 4px;
    background-color: transparent;
    cursor: pointer;
    .icon {
        font-size: 2rem;
    }
}
