.menu-list {
    min-width: 223px;
    font-size: 1.6rem;
    font-weight: 600;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .menu-item {
        margin-left: 0px;
        width: 100%;
        text-align: start;
        padding: 9px 8px 9px 16px;
        vertical-align: middle;
        border-radius: 0;
        color: var(--text-color);
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
        &.language { 
            font-family: 'SofiaPro', sans-serif;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 24px;
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Menu header

.menu-header {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: -8px;
    .header-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.6rem;
        line-height: 22px;
    }
    .back-btn {
        background-color: transparent;
        cursor: pointer;
        .back-icon {
            height: 16px;
            width: 16px;
            margin-left: 28px;
        }
    }
}



